.logo{
    background: blue;
    height: 230px;
    background: url("images/logo.png") no-repeat center;

}

.nav{
    display: flex;
    background: black;
    padding: 20px;
}

.left, .center, .right{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left{
    width: 15%;
    
}

.center{
    width: 70%;
}

.right{
    width: 15%;
}

.center a{ 
    color: white;
    font-family: "Avenir", sans-serif;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;

}

.right > button{
    background-color: #E9FF5A;
    
}

.column {
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
}

.meal1, .meal2, .meal3{
    height: 100%;
   width: 100%;
   display: flex;
   align-items: flex-end;
   margin-bottom: 20px;
}

.meal1{
    background: url("images/meal1.png") no-repeat center;
    margin-top: 20px;
    
}

.meal2{
    background: url("images/meal2.png") no-repeat center;
    
}


.meal3{
    background: url("images/meal3.png") no-repeat center;
    
}

.text {
    background: rgb(0,0,0,0.7);
    width: 100%;
    padding: 20px 40px;
    color: white;
 }
 .text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
 }

 .text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .btn-online{
    border-radius: 9px;
    background-color: #E9FF5A;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: “Avenir”, sans-serif;
 }

 .btn-now {
    border-radius: 9px;
    background-color: #00FFF4;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: “Avenir”, sans-serif;
 }

